body{
  background-color: #E8E8E8 !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ui.menu{
  background-color: #3ADF00 !important;
}

.ui.primary.button{
  background-color: #041E41 !important;
}

.ui.primary.button:hover{
  background-color: #009abf !important;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {
  height: 100% !important;
}

.app{
  height: 100% !important;
}

.container, .test{
  height: 100% !important;
}

.appContainer
{
  height: 95% !important;
}

.results{
  right:0 !important;
  left:auto !important;
}

.search .results {
  overflow-y: auto;
  max-height: 300px;
  }

  .ui.page.modals.transition.visible {
    display: flex !important;
}
